.exp-title {
  justify-content: center;
  line-height: 25px;
  display: flex;
}

.exp-title h1 {
  background: #d8d8d8;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  color: #000000;
  padding: 10px 40px 10px 40px;
  background: #dcaf6b;
  margin-bottom: 40px;
  margin-top: 40px;
}

.exp-locations {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.location-background {
  width: 400px;
  height: 250px;
  background: #f8d660;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 45px;

  transition-duration: 0.4s;
  display: grid;
  place-items: center;
  background-size: cover;
}

#info {
  transition-duration: 0.6s;
  opacity: 0%;
  color: white;
}

.location-background:hover #info {
  opacity: 100%;
}

.location-wrapper {
  display: grid;
  place-items: center;
}

.location-name {
  font-style: normal;
  font-size: 30px;
  text-align: center;
  letter-spacing: -0.015em;
  background: #dcaf6b;
  color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  width: 300px;
}

.purple-button {
  text-align: center;
  background-color: #5ea3f1;
  border: black;
  color: black;
  padding: 13px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.3s;
  border-radius: 8px;
  margin: 10px;
}

.purple-button:hover {
  background-color: #4985c9;
}

.purple-button:disabled {
  background-color: #2e5078;
}
