.Home-monkey img {
  width: 400px;
  height: 400px;
}

.Home-monkey {
  margin-top: 250px;
}

.Home-monkey-away {
  margin-top: 180px;
  margin-bottom: 180px;
  color: #e0e0e0;
}

.Home {
  text-align: center;
}

.Home-button {
  margin: 30px;
  padding-top: 10px;
  border-width: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  background-color: #F8D660;
  display: inline-block;
  font-size: 48px;
  transition: background-color 0.2s;
  text-decoration: none;
  color: black;
}

.red {
  color: red;
}

.Home-button:hover {
  background-color: #c2a746;
}

.Home-monkey-details {
  margin: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  background-color: #F8D660;
  display: inline-block;
}

.Home-bananas {
  width: 100%;
  text-align: right;
  height: 0px;
}

.Home-bananas h1 {
  margin: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
  background-color: #F8D660;
  display: inline-block;
}

.Home-bottom {
}
